In [16]:
def example(arg1, arg2, arg3):
     if arg1 == 1 and arg2 == 2 and arg3 == 3:
            print("Example Text")

In [3]:
# Data Imports
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

import os
## get the working directory
os.getcwd()

# Plot imports
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')

%matplotlib inline
from sklearn import linear_model

def BMI2(ampRt):    
    
    if ampRt == '1':
        return 0.16
    elif ampRt == '2':
        return 0.1
    elif ampRt == '3':
        return 0.08
    elif ampRt == '4':
        return 0.059
    elif ampRt == '5':
        return 0.015
    elif ampRt == '6':
        return 0
    else:
        return 0

Y1['ampRt'] = Y1['AmpRT'].apply(BMI2)

In [79]:
d = {'Plusm': [41, 18, 32, 51,32], 'Age': [60, 23, 72, 30, 99], 'Causeamp': [1, 2, 1, 1,2], 'Wt': [81, 92, 99, 61,22]}
df = pd.DataFrame(data=d) 
df

   Plusm  Age  Causeamp  Wt
0     41   60         1  81
1     18   23         2  92
2     32   72         1  99
3     51   30         1  61
4     32   99         2  22

In [80]:
type(df)

pandas.core.frame.DataFrame

In [90]:
def BMI2(live):    
    plusm,age,causeamp,wt=live
    
    if plusm >= 36.75 and age<= 58.8:
        return 1
    elif plusm >= 36.75 and age>=58.8 and plusm>=49.5:
        return 2
    elif plusm >= 36.75 and age>=58.8 and plusm<=49.5 and causeamp==2:
        return 3
    elif plusm >= 36.75 and age>=58.8 and plusm<=49.5 and causeamp==1 and age>=70.5:
        return 4
    elif plusm >= 36.75 and age>=58.8 and plusm<=49.5 and causeamp==1 and age<=70.5 and wt>=90.3:
        return 5
    elif plusm >= 36.75 and age>=58.8 and plusm<=49.5 and causeamp==1 and age<=70.5 and wt<=90.3:
        return 6
    elif plusm <= 36.75 and age<=59.4:
        return 7
    elif plusm <= 36.75 and age>=59.4 and causeamp==2:
        return 8
    elif plusm <= 36.75 and age>=59.4 and causeamp==1:
        return 9
    elif plusm >= 36.75:  ##This condition does not execute becuase all patients will fall within 1 of 9 terminal nodes
        return 10
    else:
        return 0

In [91]:
df['klev'] = df[['Plusm','Age','Causeamp','Wt']].apply(BMI2,axis=1)
df

   Plusm  Age  Causeamp  Wt  klev
0     41   60         1  81     6
1     18   23         2  92     7
2     32   72         1  99     9
3     51   30         1  61     1
4     32   99         2  22     8