Regular expression

In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

# Regular Expression

https://www.guru99.com/python-regular-expressions-complete-tutorial.html

In [66]:
f = pd.DataFrame({'viz': ['medi medi', 'bcbs', 6, 7],
                     'BBB': [10, 'bcbstx', 'NaN', 'medica'],
                     'CCC': [100, 50, -30, -50]})

In [67]:
f

         viz     BBB  CCC
0  medi medi      10  100
1       bcbs  bcbstx   50
2          6     NaN  -30
3          7  medica  -50

In [68]:
def klevelnew(num):
    if re.findall(r"^\d+", str(num)):
        return 2
    elif num== 'NaN': ## doesnt work well on a data frame
        return 3
    else: 
        return 4
    #\d matches only numbers

In [69]:
f['INS']=f['BBB'].apply(klevelnew)
#analyticfile['Amplevelnew'] = analyticfile['AmpLevel'].apply(amplevel)

In [70]:
f

         viz     BBB  CCC  INS
0  medi medi      10  100    2
1       bcbs  bcbstx   50    4
2          6     NaN  -30    3
3          7  medica  -50    4

# NPwhere if else statement

In [65]:
f['BBB'] = np.where(f['BBB'] == 10, 0, 1)

# CHANGING Data type to string or interger

To int:

df.column_name = df.column_name.astype(np.int64)

To str:

df.column_name = df.column_name.astype(str)

In [5]:
f.BBB= f.BBB.astype(np.int64)

In [6]:
type(f)

pandas.core.frame.DataFrame

In [7]:
f.info

<bound method DataFrame.info of          viz  BBB  CCC
0  medi medi    0  100
1       bcbs    1   50
2          6    1  -30
3          7    1  -50>

In [9]:
#analyticfile['Amplevelnew'] = analyticfile['AmpLevel'].apply(amplevel)

In [55]:
import re
xx = "guru,education is fun"
r1 = re.findall(r"^\w+",xx)
print(r1)

['guru']

In [36]:
list = ["guru99 get", "guru99 give", "guru Selenium", "yfghdff"]
for element in list:
    if re.findall(r"^\d+", element):
        print(1)
    else:
        print(2)

2
2
2
2

In [30]:
list = ["guru99 get", "guru99 give", "guru Selenium", "yfghdff"]
for element in list:
    if re.match("(g\w+)\W(g\w+)", element):
        print(1)
    else:
        print(2)

1
1
2
2

In [20]:
abc = 'guru99@google.com, careerguru99@hotmail.com, users@yahoomail.com'
emails = re.findall(r'[\w\.-]+@[\w\.-]+', abc)
for email in emails:
    email=1
    print(email)

1
1
1

In [29]:
patterns = ['software testing', 'guru99']
text = 'software testing is fun?'
for pattern in patterns:
    print('Looking for "%s" in "%s" ->' % (pattern, text), end=' ')
    if re.search(pattern, text):
        print('found a match!')
else:
    print('no match')

Looking for "software testing" in "software testing is fun?" -> found a match!
Looking for "guru99" in "software testing is fun?" -> no match

In [52]:
for element in f['BBB']:
    if re.findall(r"^\d+", str(element)):
        print(1)
    else:
        print(2)

1
2
2
2

In [ ]:
In Python, a regular expression is denoted as RE (REs, regexes or regex pattern) are imported through re module. Python supports regular expression through libraries. In Python regular expression supports various things like Modifiers, Identifiers, and White space characters.

Identifiers	Modifiers	White space characters	Escape required
\d= any number (a digit)	\d represents a digit.Ex: \d{1,5} it will declare digit between 1,5 like 424,444,545 etc.	\n = new line	. + * ? [] $ ^ () {} | \
\D= anything but a number (a non-digit)	+ = matches 1 or more	\s= space	
\s = space (tab,space,newline etc.)	? = matches 0 or 1	\t =tab	
\S= anything but a space	* = 0 or more	\e = escape	
\w = letters ( Match alphanumeric character, including "_")	$ match end of a string	\r = carriage return	
\W =anything but letters ( Matches a non-alphanumeric character excluding "_")	^ match start of a string	\f= form feed	
. = anything but letters (periods)	| matches either or x/y	-----------------	
\b = any character except for new line	[] = range or "variance"	----------------	
\.	{x} = this amount of preceding code	-----------------	
Regular Expression Syntax
RE

	import re
"re" module included with Python primarily used for string searching and manipulation
Also used frequently for web page "Scraping" (extract large amount of data from websites)
We will begin the expression tutorial with this simple exercise by using the expressions (w+) and (^).

Example of w+ and ^ Expression